<!-- <div class="form-group">

    <label for="ID">Login email or ID</label>
    <input required type="text" name="email" id="id"
    class="form-control">
</div>

<div class="form-group">

    <label for="password">Password</label>
    <input required type="text" name="password" id="password"
    class="form-control">
</div>

<div class= "mb-4 mt-4">
    <button type="submit" class= "btn btn-primary">Login!</button>
    <a href="/" class= "btn btn-light">Back</a>
    
</div> -->

<div class="user-box">
    <input type="email" name="email" required text="email">
    <label>Login email or ID</label>
</div>

<div class="user-box">
    <input type="password" name="password" required text="text">
    <label>Password</label>
</div>

<div class="row g-2">  
    <button class= "btn" type="submit">
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    Submit
    </button>

    <a href="/CustomerRegistration">
    <b>
    Don't have an account? Register now!
    </b>
    </a>

    
    <a href="../">
        <b>
            Back 
        </b>   
 </a>


</div>
   