<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJ1SAwiGgFAW/dAiS6JXm" crossorigin="anonymous"> -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>eRestaurant</title>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
</head>
<body>
    <div class= "container">
    
      
    
    </div>

    <div class="rectangle"></div>
    <div class="form-wrap">
      <h2 class="mob">Table Booking Form</h2>
     
      <form action="/booking-received" method = "POST">
        <h6>Enter your details below to book a table:</h6>
        <div class="First Name">
          <label for="First Name">First Name</label><br/>
          <input type="text" name="fname" placeholder="Enter name"/><br/>
        </div>

        <div class="Last Name">
          <label for="Last Name">Last Name</label><br/>
          <input type="text" name="lname" placeholder="Enter name"/><br/>
        </div>
        
        <div class="Time">
          <label for="Time">Select a Time:</label><br/>
          <input type="time" id="time" name="time" placeholder="--:-- --">
        </div>
        <div class="Date">
          <label for="Date">Select a Date:</label><br/>
          <input type="date" id="date" name="date" placeholder="dd/mm/yyyy">
        </div>
        

        <div class="guests">
          <label for="guests">Number of Guests</label><br/><br/>
          <button class="counter-btn" type="button" onclick="decrement()" id="cnt-down">-</button>
          <input type="text" id="guestNo" name="numGuests" value="2"/>
          <button class="counter-btn" type="button" onclick="increment()" id="cnt-up">+</button>
        </div>
        
        <button class = "btn btn-light" type ="submit">Submit Booking</button>
      </form>

      <a href= "../" class="btn btn-light">Go Back</a>
         
         
      </div>
    </div> <!--Javascript starts here:-->
    <script>
    
      function decrement() {
      document.getElementById("guestNo").stepDown();
    }
    function increment() {
      document.getElementById("guestNo").stepUp();
    }
     $(document).ready(function () {
    var guestAmount = $("#guestNo");
  $("#cnt-up").click(function () {
    guestAmount.val(Math.min(parseInt($("#guestNo").val()) + 1, 20));
  });
  $("#cnt-down").click(function () {
    guestAmount.val(Math.max(parseInt($("#guestNo").val()) - 1, 1));
  });
  $(".btn").click(function () {
    var $btn = $(".btn");
    $btn.toggleClass("booked");
    $(".rectangle").toggleClass("windup");
    $("form").slideToggle(300);
    $(".linkbox").toggle(200);
    if ($btn.text() === "Submit Booking") {
      $btn.text("BOOKED!");
    } else {
      $btn.text("Submit Booking");
    }
  });
});
   
    </script>
  </body>
</html>

<style>
  @import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700);
* {
  box-sizing: border-box;
}
body {
  background: #f3c19f;
  color: rgb(47, 47, 47);
  font: "Open Sans";
  font-size: 100%;
  overflow: hidden;
}
@media (max-width: 450px) {
  body {
    background: #f5f5f5;
    overflow: scroll;
  }
}
.rectangle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%)
             rotate(0deg);
  height: 700px;
  width: 650px;
  background: #ffffff;
  border-radius: 8px;
  box-shadow: 0px 0px 20px 3px rgba(#111, .2);
  transition: all .5s ease-in-out;
  @media(max-width: 450px) {
    display: none;
  }
}
.mob {
  display: none;
  @media(max-width: 450px) {
    display: inline-block;
  }
}
  .form-wrap {
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1em;
  width: 350px;
}
@media (max-width: 450px) {
  .form-wrap {
    width: 80%;
  }
}
.form-wrap form {
  margin-bottom: 10px;
}
input {
  padding: 15px 10px;
  border: none;
  margin-bottom: 20px;
  border-radius: 3px;
  box-shadow: 1px 3px 20px rgba(17, 17, 17, 0.1);
  width: 100%;
  height: 45px;
  outline: #8DFEE1;
}
input[type=date]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  display: none;
}
#guestNo {
  width: 80px;
  margin: 0 20px;
  text-align: center;
}
input[type=date]:webkit-inner-spin-button {
  display: none;
}
label {
  padding-bottom: 10px;
  display: inline;
  float: left;
}
.counter-btn {
  position: relative;
  display: inline-block;
  height: 40px;
  text-align: top;
  vertical-align: top;
  font-size: 1.5em;
  font-weight: 300;
  width: 40px;
  background: #fff;
  border: none;
  margin-bottom: 20px;
  border-radius: 50%;
  box-shadow: 1px 3px 20px rgba(17, 17, 17, 0.1);
  cursor: pointer;
  outline: none;
}
.counter-btn:nth-child(2) {
  float: right;
}
.counter-btn:hover {
  background: #f3c19f;;
}
.guests {
  margin: 10px;
}
.btn {
  border: none;
  padding: 10px;
  margin: 20px auto;
  width: 100%;
  height: 45px;
  display: block;
  background: #797979;
  color: #fff;
  font-size: 1.3em;
  letter-spacing: 0.1em;
  box-shadow: 1px 3px 20px rgba(17, 17, 17, 0.1);
  border-radius: 3px;
  outline: none;
}
.btn:hover {
  background: #e9e9e9;
}
</style>

