<!DOCTYPE html>
<html lang="en">
<head>
    <title>eRestaurant</title>
</head>
<body>
<p>Current User Info (devTool, delete for production) Name: <%=user.fname%> <%=user.lname%></p>
<p> "hello luvs x" </p>
</body>
</html>
<style>

</style>
