
<div class="user-box">
    <input type="email" name="email" required text="email">
    <label>Login email</label>
</div>

<div class="user-box">
    <input type="password" name="password" required text="text">
    <label>Password</label>
</div>

<div class="row g-2">  
    <button class= "btn" type="submit">
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    Submit
    </button>

    <a href="/CustomerRegistration">
    <b>
    Don't have an account? Register now!
    </b>
    </a>

    
    <a href="../">
        <b>
            Back 
        </b>   
 </a>


</div>
   