
<div class="user-box">
    <input type="email" name="email" required text="email">
    <label>Login Email</label>
</div>

<div class="user-box">
    <input type="password" name="password" required text="text">
    <label>Password</label>
</div>

<div class="row g-2">  
    <button class= "btn" type="submit">
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    Login
    </button>

    <a href="/CustomerRegistration">
    <b>
    Or Create An Account
    </b>
    </a>
 </a>


</div>
   