body {
    background-color: rgb(73, 184, 199);
}

h1 {
    color: rgb(0, 0, 0);
    font-family: arial;
    font-size: 300%;
    text-align: center;
}

h2 {
    color: rgb(0, 0, 0);
    font-family: arial;
    font-size: 200%;
    text-align: center;
}

p {
    color: rgb(14, 14, 46);
    font-family: arial;
    font-size: 100%;
    text-align: center;
}