
<div class="user-box">
    <input type="text" name="ID" required text="text">
    <label>ID</label>
</div>

<div class="user-box">
    <input type="password" name="password" required text="text">
    <label>Password</label>
</div>

<div class="row g-2">  
    <button class= "btn" type="submit">
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    Login
    </button>
    
 </a>


</div>
   