<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
    <title>Document</title>
</head>

  </header>
  <body>
    <section id="section00">
      <div class="login-box">
        <img src="images/Le Bistrot d'Andre.png" alt="logo here" width="30%" height="30%"><!--h1>Le Bistrot d'Andre</h1>-->
        <h1 font-size= "20%" style="color: black;">
          Admin Menu
        </h1>
    
        <div class= "btnGroup">
          <a href = "/EditMenu" class="btn btn-secondary btn-lg">Edit Menu Item</a>
          <p>            </p>
          <p>            </p>
          <a href="/EditDiscount" class="btn btn-secondary btn-lg">Edit Discounts</a>
          <p>            </p>
          <p>            </p>
          <a href= "/StaffManagement" class="btn btn-secondary btn-lg">Manage Staff and Customers</a>
          <p>            </p>
          <p>            </p>
          <a href= "/" class="btn btn-secondary btn-lg">Log Out</a>
    </div>
  </section>
  </body>

</html>

<style>
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
</style>


<!-- css for codepen starts -->
<style>
.btn {
  background-color: #014421; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.login-box {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  padding: 40px;
  transform: translate(-50%, -50%);
  background:rgba(255, 255, 255, 0.801);
  color: whitesmoke;
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0,0,0,.6);
  border-radius: 10px;
  text-align: center;
  }

  .btnGroup {
    display: flex; 
    flex-direction: column;
    align-content: center;
    width: 80%;
    margin: auto;
    padding: 10px;
}

* {
  box-sizing: border-box;
}

body {
  margin:0;
  padding:0;
  font-family: sans-serif;
  font-family: sans-serif;
  background-size: cover;
  background-position: absolute;
  background-repeat: no-repeat;
  padding: 30px;
  background-image: url("images/useThisForAdminMenu.jpg");

</style>

