<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
    <title>Document</title>
</head>
<body>

	<!-- <div class="spinner-border center text-info" style="width: 3rem; height: 3rem;" role="status">
		<span class="visually-hidden">Loading...</span>
	  </div>
	  <div class="spinner-border text-info" role="status">
		<span class="visually-hidden">Loading...</span>
	  </div>
	  <div class="spinner-grow center text-info" style="width: 3rem; height: 3rem;" role="status">
		<span class="visually-hidden">Loading...</span>
	  </div> -->

<!-- html component for codepen starts now  -->

<header>
  <nav>
    <div id="brand">
      <div id="logo"></div>
      <div id="word-mark"></div>
    </div>
    <div id="menu">
      <div id="menu-toggle">
        <div id="menu-icon">
          <div class="bar"></div>
          <div class="bar"></div>
          <div class="bar"></div>
        </div>
      </div>
		 <ul>
		  <li><a href="#section00">Admin Menu</a></li>
		  <li><a href="/LunchMenu">Lunch Menu</a></li>
		  <li><a href="/DinnerMenu">Dinner Menu</a></li>
		  <li><a href="/BookTable">Book Table</a></li>
		 </ul>
	  </div>
	</nav>
	<!-- <div id="hero-section">
	  <div id="head-line"></div>
	</div> -->
  </header>
  <body>
    <section id="section00">
    <div class="container" >
      <div class="row justify-content-center">
        <div class="col-md-20">
          <div class="card">
            <div class="card-header">Admin Menu</div>
              <div class="card-body">
                <div class="row">
                  <div class="col-sm-20">
                    <div class="card">
                        <a href = "/EditMenu" class="btn btn-secondary btn-lg">Edit Menu Item</a>
                    </div>
                  </div>
                  <div class="col-sm-20">
                    <div class="card">
                        <button href="/EditDiscount" class="btn btn-secondary btn-lg">Edit Discounts</button>
                    </div>
                  </div>
                  <div class="col-sm-20">
                    <div class="card">
                      <a href= "/StaffManagement" class="btn btn-secondary btn-lg">Manage Staff and Customers</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>
  </section>
  </body>





  <!-- TO CHANGE THE FONT EXAMPLE GIVEN W FONT:
  <p class="paragraphBottom">Above and below I've pictured my best work from school projects in 2017, 2018 and 2019:
    <span class="italics">Layer Maze</span>, <span class="italics">Orbiter</span> and <span class="italics">Airline Tycoon</span>, respectively.</p> -->


  <!-- <section id="section00">
	  <div id="heading"><span class="container"></span><span class="italics">Admin Menu</span>
    </div>

    <div class="container">
        <div class="row justify-content-center">
          <div class="col-md-20">
            <div class="card">
              <div class="card-header">Admin Menu</div>
                <div class="card-body">
                  <div class="row">
                    <div class="col-sm-20">
                      <div class="card">
                          <a href = "/EditMenu" class="btn btn-secondary btn-lg">Edit Menu Item</a>
                      </div>
                    </div>
                    <div class="col-sm-20">
                      <div class="card">
                          <a href = "/EditDiscount" class="btn btn-secondary btn-lg">Edit Discounts</a>
                      </div>
                    </div>
                    <div class="col-sm-20">
                      <div class="card">
                        <a href= "/StaffManagement" class="btn btn-secondary btn-lg">Manage Staff and Customers</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
      </div>
  </section>

  <section id="section01">
  	<div id="heading"><span class="container">Lunch Menu</span></div>
  </section>

  <section id="section02">
	  <div id="heading"><span class="container">Dinner Menu</span></div>
  </section>

  <section id="section03">
	  <div id="heading"><span class="container">Table Menu</span></div>
  </section><a href="https://youtu.be/m1IU7zjl1k4" id="youtube"><i class="fa fa-youtube-play"></i></a> -->
<!-- html component for codepen ends now  -->

</body>
</html>

<style>
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
</style>


<!-- css for codepen starts -->
<style>

	/*** Mixins & Default Styles ***/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  overflow-x: hidden;
  overflow-y: scroll;
}

/*** Color Variables ***/
/*** Centering Hack ***/
/*** Header Styles ***/
header {
  width: 100vw;
  height: 10.5vh;
  background: #b6c5b8;
  display: flex;
}

/*** Navigation Styles ***/

nav {
  width: 100vw;
  height: 80px;
  background: #eedac2;
  display: grid;
  grid-template-columns: 1fr 1fr;
  position: fixed;
  z-index: 10;
  transition: all 0.3s;
  /* max-height: 100px; */
}
nav.navShadow {
  box-shadow: 0 4px 30px -5px rgba(0, 0, 0, 0.2);
  height: 100px;
}
nav.navShadow #word-mark {
  opacity: 0;
}

#brand,
#menu,
ul {
  display: flex;
  align-items: center;
  list-style-type: none;
}

#brand {
  padding-left: 40px;
}

#logo {
  width: 55px;
  height: 55px;
  background: #fff;
  border-radius: 50%;
  cursor: pointer;
}

#word-mark {
  width: 120px;
  height: 30px;
  background: #fff;
  border-radius: 90px;
  margin-left: 20px;
  opacity: 1;
  transition: all 0.3s;
}

/*** Menu Styles ***/
#menu {
  justify-content: flex-end;
  padding-right: 40px;
}

/* a {
  display: block;
  padding: 20px;
} */

li {
  margin-left: 20px;
}
li a {
  width: 160px;
  height: 30px;
  background: #fff;
  display: block;
  border-radius: 90px;


  text-align: center;
  align-items: center;
  color:black; 
  /* padding-top: 0px;
  padding-right: 30px;
  padding-bottom: 10px;
  padding-left: 25px; */
  text-decoration: none;
  font-size: large;
}


#menu-toggle {
  width: 55px;
  height: 55px;
  background: #eedac2;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  cursor: pointer;
  display: none;
}
#menu-toggle:hover .bar {
  width: 25px;
}
#menu-toggle.closeMenu .bar {
  width: 25px;
}
#menu-toggle.closeMenu .bar:first-child {
  transform: translateY(7px) rotate(45deg);
}
#menu-toggle.closeMenu .bar:nth-child(2) {
  transform: scale(0);
}
#menu-toggle.closeMenu .bar:last-child {
  transform: translateY(-7px) rotate(-45deg);
}

.bar {
  width: 25px;
  height: 2px;
  background: #fff;
  transition: 0.3s ease-in-out;
}
.bar:nth-child(2) {
  width: 20px;
  margin: 5px 0;
}
.bar:last-child {
  width: 15px;
}

/*** Hero Section Styles ***/
#hero-section {
  width: 100vw;
  height: calc(100vh - 160px);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 160px;
}

#head-line {
  width: 520px;
  height: 30px;
  background: #fff;
  border-radius: 90px;
  position: relative;
}
#head-line:before, #head-line:after {
  content: "";
  height: 30px;
  border-radius: 90px;
}
#head-line:before {
  width: 360px;
  background: #fff;
  position: absolute;
  top: -60px;
  left: 50%;
  transform: translate(-50%, 0);
}
#head-line:after {
  width: 200px;
  background: #fff;
  position: absolute;
  left: 50%;
  bottom: -60px;
  transform: translate(-50%, 0);
}

/*** Section Styles ***/
section {
  width: 100vw;
  height: calc(103.7vh - 100px);
  display: flex;
  justify-content: center;
}
section:nth-child(odd) {
  background:#b6c5b8;
}
section:nth-child(even) {
  background: #cf9683;
}

#heading {
  width: 120px;
  height: 40px;
  background: #fff;
  border-radius: 90px;
  margin-top: 40px;
}

/*** Responsive Menu For Smaller Device ***/
@media screen and (max-width: 767px) {
  #menu-toggle {
    display: flex;
  }

  ul {
    display: inline-block;
    width: 100vw;
    height: 0;
    background: #79edfc;
    position: absolute;
    top: 160px;
    transform: translate( );
    box-shadow: 0 5px 30px -4px rgba(0, 0, 0, 0.2);
    transition: all 0.3s;
  }
  ul.showMenu {
    height: 250px;
  }
  ul.showMenu li {
    height: 80px;
    opacity: 1;
    visibility: visible;
  }

  li {
    width: 50%;
    height: 80px;
    float: left;
    padding-left: 40px;
    opacity: 0;
    visibility: hidden;
    margin-left: 0;
    transition: all 0.3s 0.1s;
  }
  li:first-child, li:nth-child(2) {
    margin-top: 80px;
  }

  #head-line {
    transform: scale(0.8);
  }
}
#youtube {
  position: fixed;
  right: 2vw;
  bottom: 2vh;
  font-size: 30px;
  color: #fff;
}

</style>
 
<!-- css for codepen ends  --> 